@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Enter Name";
}
<h2>Enter your name</h2>
<form asp-action="SetName" method="post">
    <input type="text" name="userName" required />
    <button type="submit">Start Game</button>
</form>