@model IEnumerable<Major>

<ul class="nav">
    @foreach (var m in Model)
    {
        @* <li class="nav-item">
            <a asp-controller="Learner" asp-action="Index"
               asp-route-mid="@m.MajorId" class="nav-link">
                @m.MajorName
            </a>
        </li> *@
        <li class="nav-item" id="@m.MajorId">
            <a class="nav-link">@m.MajorName</a>
        </li>
    }
</ul>